body {
    font-family: Monospaced, monospace;
    margin: 0;
    padding: 0;
    background-color: #4f4f4f;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    background-color: #1a1a1a;
    border-radius: 10px;
    display: inline-block;
    margin: 10px 20px 10px 0;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    width: 100%;
}

.list {
    display: block;
    text-align: center;
}

.list h2 {
    color: #fff;
}

.list ul {
    list-style-type: decimal;
}

.list a {
    text-decoration: none;
    color: #ccc;
    padding: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
